body {
    /*
    body 样式预设
    */
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.tao-button {
    /*
    自定义按钮样式
    */
    border: 1px solid transparent;
    background-color: #1ba1e2;
    color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
}

.tao-div-center {
    /*
    div 居中
    */
    margin: 0 auto;
}

.tao-picture-frame {
    /*
    自定义图片边框
    */
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #dee2e6;
    border-radius: 2px;
}

.tao-fade-slide {
    /*
    淡入淡出效果支持
    */
    opacity: 1;
    transition: opacity 0.2s;
}

.tao-fade-slide.fade {
    /*
    淡入淡出效果支持
    */
    opacity: 0.8;
}

.tao-input {
    /*
    自定义输入框
    */
    outline-style: none ;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 3px 3px;
    width: 245px;
    font-weight: lighter;
    color: rgba(0,0,0,0.7);
}

.tao-input:focus {
    /*
    自定义输入框聚焦
    */
    border-color: #1ba1e2;
    border: 2px solid #1ba1e2;
    box-shadow: inset 0px 0px 1px #1ba1e2;
    caret-color: #1ba1e2;
}
